@import "colors";

.t3 {
  height: 14rem;
}

.t3-span {
  text-align: center;
}

.t3-board {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 12rem;
}

.t3-board>div {
  border-radius: 4%;
  height: 3rem;
  width: 3rem;
  margin: 0.2rem;
  background-color: white;
}

.t3-board>.t3-blue {
  background-color: $claret;
}

.t3-board>.t3-red {
  background-color: $jet;
}

.t3-btn {
  border-radius: 2%;
  padding: 0.5rem;
  background-color: $jet;
  color: white;
}
