doctype
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TEHJR
    link(rel="stylesheet", type="text/css", href="/css/styles.css")
    block head
  body
    #heading.dark
      h1.title TEHJR

    block content

    footer#footer.dark
      - var year = new Date().getFullYear();
      p © #{year} TEHJR - Thomas E. Herman Jr.

    block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js", type="text/javascript")
    script(src="/js/index.js", type="text/javascript")
