extends layouts/default.pug

block content
  #content
    #content1.content

      img(src="/img/me.jpg", data-aos="fade", data-aos-delay="200")#me

      blockquote(data-aos="fade-up", data-aos-delay="700")
        p A person who never made a mistake never tried anything new.
        small Albert Einstein

      h2(data-aos="fade-up", data-aos-delay="700" data-aos-offset="400").text-section.title Biography
      div(data-aos="fade-up", data-aos-delay="700" data-aos-offset="120").desc-large.grey
        h3 Thomas E. Herman Jr.
        p.
          Born and raised in the US state of Florida. From the beggining I've held a special interest in computers.
          This naturally lead to looking for work in the tech industry. When I discovered programming, I quickly fell
          in love. Starting from a python-based language for scripting in the popular video 'Skyrim', I quickly moved onto
          JavaScript and fell in love with how expressive the language was.

        p.
          For the last three years I have continued to hone my craft, and eventually wound up in a techinal college
          studying the .NET ecosystem. I covered most of what one would expect, VB.NET, C#, SQL, ASP.NET, etc. Now I currently seek
          work whether it be freelance, contract, or salaried. I've covered a great deal of technology over the years, and am
          currently invested in the React ecosystem. Some of work can be found at the following links: #[br]#[br]

        div.split
          a(href="https://github.com/HermantNET") GitHub
          a(href="https://www.codewars.com/users/HermantNET/completed_solutions") Code Wars
          a(href="http://codepen.io/hermantnet/") Codepen

      h2.text-section.title Languages
      div.languages
        div
          div(data-aos="flip-left", data-aos-delay="100").desc
            img.react(src="/img/c-sharp.png")
            h3 .NET
            p.
              As a certified 'Microsoft Technical Associate', I can leverage the powerful .NET ecosystem
              to build robust desktop and web applications.
          div(data-aos="flip-left", data-aos-delay="200").desc
            img.react(src="/img/js.png")
            h3 JavaScript
            p.
              Be it server or client side, JavaScript is there. Using this as powerful
              as it is versatile language, I will get it what you need done quickly and efficiently.
          div(data-aos="flip-left", data-aos-delay="300").desc
            img.react(src="/img/elixir.png")
            h3 Elixir
            p.
              Built on the tried and tested Erlang VM, Elixir writing scalable, concurrent applications dead simple.
              Ideal for complex web apps with many simultaneus connections.


    #content2.content
      h1.title.dark Applications
      div.item
        #calculator
        div(data-aos="flip-left", data-aos-delay="100").desc
          h3.text-section Business
          p.
            Deceptively simple, incredibly powerful, and remarkably intuitive. From a complex management panel,
            to something as simple as a newsletter subscription form, let your users experience the power of the modern web.
      div.item.column
        #gallery
        div(data-aos="flip-left", data-aos-delay="100").desc-large
          h3.text-section Usability
          p.
            Let your users know you care by doing the heavy lifting for them.
            With the advantage of responsive design, no more trying to fit something onto the screen. No more multiple versions of the same application for different
            devices. Just one highly reusable component to supplement your end user experience.
      div.item
        #t3
        div(data-aos="flip-left", data-aos-delay="100").desc
          h3.text-section Creative
          p.
            Don't let your users get bored. Bring some fun with both classic and novel games.
      div.item#built-with
        div(data-aos="fade" data-aos-duration="1000")
          img.react(src="/img/react.png")
          h3.center Built With React
          p.
            The applications available on this page are built using Facebook's modern, powerful, JavaScript Framework, React.
            The pros of developing applications with React are far too many to list here, but React's key features are that it's fast, powerful
            and provides a platform that enables a highly efficient development process.

    #content3.content
        div(data-aos="flip-up", data-aos-offset="400")
          h2.text-section.dark Email
          p.desc thomas@tehjr.com
        div(data-aos="flip-up", data-aos-offset="400")
          h2.text-section.dark Phone
          p.desc +1 (941) 321-3860
        div(data-aos="flip-up", data-aos-offset="400")
          h2.text-section.dark Skype
          p.desc hermant.edu@gmail.com
